<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.aiden.board.mapper.BoardMapper">
	
	<resultMap type="ProfileDto" id="ProfileDto">
		<id property="userId" column="USER_ID" />
		<result property="name" column="NAME" />
	</resultMap>
	
	<resultMap type="BoardDto" id="BoardResultMap">
		<id property="boardId" column="BOARD_ID"/>
 		<result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="regDate" column="REG_DATE"/>
        <result property="updateDate" column="UPDATE_DATE"/>
        <collection property="author" resultMap="ProfileDto" />
	</resultMap>
	
	<sql id="condition">
		WHERE true
		<if test='searchFilter=="1"'>
			AND b.title LIKE concat('%', #{searchText}, '%')
		</if>
		<if test='searchFilter==2'>
			AND b.content LIKE concat('%', #{searchText}, '%')
		</if>
		<if test='searchFilter==3'>
			AND u.name LIKE concat('%', #{searchText}, '%')
		</if>
	</sql>

	<select resultMap="BoardResultMap" id="selectBoards">
		SELECT b.BOARD_ID, b.TITLE, b.CONTENT, b.REG_DATE, b.UPDATE_DATE,
		u.USER_ID, u.NAME, u.EMAIL, u.REG_DATE AS USER_REG_DATE
		FROM TB_BOARD b
		JOIN TB_USER u ON b.USER_ID = u.USER_ID
		<include refid="condition"></include>
		AND u.DEL_YN = 'N'
		AND b.DEL_YN = 'N'
		ORDER BY BOARD_ID DESC
		LIMIT #{offset}, #{limit}
	</select>
	
	<select resultType="Integer" id="selectCount">
		select count(*)
		FROM TB_BOARD b
		JOIN TB_USER u ON b.USER_ID = u.USER_ID
		<include refid="condition"></include>
		AND u.DEL_YN = "N"
		AND b.DEL_YN = "N"
	</select>

	<select resultMap="BoardResultMap" id="selectByUserId">
		SELECT b.BOARD_ID, b.TITLE, b.CONTENT, b.REG_DATE, b.UPDATE_DATE,
		u.USER_ID, u.NAME, u.EMAIL, u.REG_DATE AS USER_REG_DATE
		FROM TB_BOARD b
		JOIN TB_USER u ON b.USER_ID = u.USER_ID
		WHERE u.USER_ID=#{userId}
		AND u.DEL_YN = 'N'
		AND b.DEL_YN = 'N' 
		ORDER BY BOARD_ID DESC
		LIMIT #{offset}, #{limit}
	</select>

	<select resultType="Integer" id="selectCountByUserId">
		select count(*) from TB_BOARD
		where USER_ID=#{userId}
		AND DEL_YN = 'N'
	</select>

	<select resultMap="BoardResultMap" id="selectByBoardId">
		SELECT b.BOARD_ID, b.TITLE, b.CONTENT, b.REG_DATE, b.UPDATE_DATE,
		u.USER_ID, u.NAME
		FROM tb_board b
		JOIN TB_USER u ON b.USER_ID = u.USER_ID
		WHERE b.BOARD_ID = #{boardId}
	</select>

	<insert id="insertBoard" parameterType="BoardDto" useGeneratedKeys="true"
		keyProperty="boardId">
		insert into TB_BOARD(USER_ID, TITLE, CONTENT, REG_DATE)
		values(#{userId}, #{title}, #{content}, NOW())
	</insert>

	<update id="updateBoard" parameterType="boardDto">
		UPDATE TB_BOARD
		SET
		TITLE = #{board.title},
		CONTENT = #{board.content},
		UPDATE_DATE = NOW()
		WHERE
		BOARD_ID = #{boardId}
	</update>

	<update id="deleteBoard">
		UPDATE TB_BOARD
		SET
		DEL_YN = 'Y'
		WHERE
		BOARD_ID = #{boardId}	
	</update>
</mapper>