<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aiden.board.mapper.CommentMapper">
    <select id="selectCommentsByBoardId" resultType="CommentDto">
        SELECT COMMENT_ID, BOARD_ID, CONTENT, USER_ID, REG_DATE
        FROM TB_COMMENT
        WHERE BOARD_ID = #{boardId}
        ORDER BY BOARD_ID DESC	
    </select>
    
    <insert id="insertComment" parameterType="CommentDto" useGeneratedKeys="true" keyProperty="commentId">
		insert into TB_COMMENT(BOARD_ID, USER_ID, CONTENT, REG_DATE)
		values(#{boardId}, #{userId}, #{content}, NOW())
	</insert>
	
	<delete id="deleteComment">
		delete from TB_COMMENT where COMMNET_ID=#{commentId}
	</delete>
	
</mapper>