<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aiden.board.mapper.CommentMapper">
    <select id="selectCommentsByBno" resultType="CommentDto">
        SELECT comment_id, bno, content, username, regDate
        FROM comment
        WHERE bno = #{bno}
        order BY regDate DESC	
    </select>
    
    <insert id="insertComment" parameterType="CommentDto" useGeneratedKeys="true" keyProperty="commentId">
		insert into comment(bno, content, username, regDate)
		values(#{bno}, #{content}, #{username}, NOW())
	</insert>
	
	<delete id="deleteComment">
		delete from comment where comment_id=#{commentId}
	</delete>
	
</mapper>