<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aiden.board.mapper.DepartmentMapper">
    <select id="selectDepartments" resultType="DepartmentDto">
        SELECT DEPT_ID, NAME
        FROM TB_DEPT
    </select>
    
    <select id="selectDepartmentName" resultType="String">
    	SELECT NAME
    	FROM TB_DEPT
    	WHERE DEPT_ID=#{deptId}
    </select>
</mapper>