<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aiden.board.mapper.RefreshTokenMapper">
	
	<insert id="createTuple">
		INSERT INTO TB_REFRESH_TOKEN(USER_ID)
		VALUES(#{userId})
	</insert>
	
	<select id="findByUserId">
        SELECT USER_ID, TOKEN
        FROM TB_REFRESH_TOKEN
        WHERE USER_ID = #{userId}
	</select>
	
	<update id="write">
		UPDATE TB_REFRESH_TOKEN
		SET
		TOKEN = #{token, jdbcType=VARCHAR}
		WHERE
		USER_ID = #{userId}
	</update>
</mapper>